---
layout: home
title: upsome
permlink: /
---
<body onresize="divResize()" onload="divResize()">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#badde1;border:0">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign current = 'current' %}
          {% endif %}
          <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
          <li><a href="https://play.google.com/store/apps/details?id=com.feelingsunday.upsome"><img src="file/04HomeButton_PC.png" width="25px" height="25px"/>Get Upsome</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id = "div_Container" class="container">
    <div class="starter-template" >
      <h1 class="cover-heading"> <a href="about.html"><img id="img_Main" src="file/01LogoL_Pc.png" width = "468px" height="272px"/></a></h1>
      <p class="lead" style="color:black">Don't share the artificial moments of your life anymore</p>
      <p class="lead">
        <a href="https://play.google.com/store/apps/details?id=com.feelingsunday.upsome"><img src="file/google_ico.png"/></a>
      </p>
    </div>
  </div>

  <script>
  	function divResize(){
  		var pf = document.getElementById("div_Container");
  		pf.style.marginTop = (window.innerHeight /10) + "px";

  		var max_ratio = 1.5;

  		document.getElementById("img_Main").style.width = (window.innerWidth /2) + "px";
  		document.getElementById("img_Main").style.height = (window.innerWidth /2)*272/468 + "px";
  		if(window.innerWidth /2 > 468*max_ratio){
  			document.getElementById("img_Main").style.width = 468*max_ratio + "px";
  			document.getElementById("img_Main").style.height = 468*max_ratio*272/468 + "px";
  		}


  		if( window.innerWidth < 768){
  			document.getElementById("img_insta").style.marginLeft = (window.innerWidth /5) + "px";
  		}else{
  			document.getElementById("img_insta").style.marginLeft = "300px";
  		}
  	};
  </script>
</body>
